
<header class="hearder_admin">
    <h3>VƯƠNG <span>TREES</span> Admin</h3>
</header>
<nav  class="nav_admin">
    <div class="nav_admin_link" style="background-color: gray;">
    <i style="color: black;" class="bi bi-speedometer" ></i>
    <a style="color: black;"  href="admin_index.html">Dashboard</a>
    </div>
    <div  class="nav_admin_link">
    <i  class="bi bi-archive-fill"></i>
    <a  href="/" routerLink="/admin/Cates">Quản lí danh mục</a>
    </div>
    <div class="nav_admin_link">
    <i class="bi bi-box2-heart-fill"></i>    
    <a href="./product.html">Quản lí sản phẩm</a>
    </div>
    <div class="nav_admin_link">
    <i class="bi bi-inboxes-fill"></i>
    <a href="">Quản lí đơn hàng</a>
    </div>
    <div class="nav_admin_link">
    <i class="bi bi-person-circle"></i>   
    <a href="./user.html">Quản lí tài khoản</a>
    </div>  
</nav>

<div class="link_dashboard">
    <p> <strong>Home </strong></p>
    <p>/</p>
    <p style="color: #00791c;"> Admin</p>
    <p>/</p>
    <p ><a href="#" routerLink=""> Dashboard</a></p>
</div>

<article id="list" class="tbsp">
</article>


