<!-- detail-p.component.html -->
<header class="header-index">
  <div class="header-logo">
 <a href=""> <img width="200px" height="200px" src="assets/images/logo.png" alt=""> </a>
  </div>

 <div class="hiencaytrongnha">
  <div class="header-link">
     <a href="">Cây trong nhà </a> 
     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
    </svg>
  </div>

     <div class="header-menucon">

      <div class="theokieudang">
          <h5>Theo kiểu dáng</h5>
         <a href=""> <p>> Cây Cao & Lớn</p> </a>
         <a href=""> <p>> Cây Cảnh Mini</p> </a>
         <a href=""> <p>> Cây reo Trong Nhà</p></a>
         <a href=""> <p>> Cây Nhiệt Đới</p></a>
         <a href=""> <p>> Cây Kiểng Lá</p></a>
      </div>

      <div class="theovitri">
          <h5>Theo vị trí đặt</h5>
         <a href=""> <p>> Cây Cảnh Dể Bàn</p></a>
         <a href=""> <p>> Cây Cảnh Văn Phòng</p></a>
         <a href=""> <p>> Cây Trong Bếp & Nhà Tắm</p></a>
         <a href=""> <p>> Cây Trước Cửa & Hành Lang</p></a>
         <a href=""> <p>> Cây Trồng ban Công</p></a>
      </div>

      <div class="theochucnang">
          <h5>Theo chức năng</h5>
         <a href=""> <p>> Cây Dễ Trồng</p></a>
         <a href=""> <p>> Cây Ít Cần Ánh Sáng</p></a>
         <a href=""> <p>> Cây Thủy Sinh</p></a>
         <a href=""> <p>> Cây Phong Thủy</p></a>
         <a href=""> <p>> Cây Lọc Không Khí</p> </a>
      </div>

      <div>
          <img src="assets/images/caytrongnha.jpg" alt="">
      </div>

     </div>
  </div>


  <div class="hiencaytrongnha">
      <div class="header-link">
      <a href="">Cây ngoài trời </a> 
     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
    </svg>
  </div> 

      <div class="header-menucon">

       <div class="theokieudang">
           <h5>Theo kiểu dáng</h5>
          <a href=""> <p>> Cây Tầm Trung </p> </a>
          <a href=""> <p>> Cây Cảnh Mini</p> </a>
          <a href=""> <p>> Cây reo Trong Nhà</p></a>
          <a href=""> <p>> Cây Nhiệt Đới</p></a>
          <a href=""> <p>> Cây Kiểng Lá</p></a>
       </div>

       <div class="theovitri">
           <h5>Theo vị trí đặt</h5>
          <a href=""> <p>> Cây Cảnh Dể Bàn</p></a>
          <a href=""> <p>> Cây Cảnh Văn Phòng</p></a>
          <a href=""> <p>> Cây Trong Bếp & Nhà Tắm</p></a>
          <a href=""> <p>> Cây Trước Cửa & Hành Lang</p></a>
          <a href=""> <p>> Cây Trồng ban Công</p></a>
       </div>

       <div class="theochucnang">
           <h5>Theo chức năng</h5>
          <a href=""> <p>> Cây Dễ Trồng</p></a>
          <a href=""> <p>> Cây Ít Cần Ánh Sáng</p></a>
          <a href=""> <p>> Cây Thủy Sinh</p></a>
          <a href=""> <p>> Cây Phong Thủy</p></a>
          <a href=""> <p>> Cây Lọc Không Khí</p> </a>
       </div>

       <div>
           <img src="assets/images/caytrongnha.jpg" alt="">
       </div>

      </div>
   </div>



   <div class="hiencaytrongnha">
      <div class="header-link">
      <a href="">Chậu cây </a> 
     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
    </svg>
  </div> 

      <div class="header-menucon">

       <div class="theokieudang">
           <h5>Theo kiểu dáng</h5>
          <a href=""> <p>> Cây Cao & Lớn</p> </a>
          <a href=""> <p>> Cây Cảnh Mini</p> </a>
          <a href=""> <p>> Cây reo Trong Nhà</p></a>
          <a href=""> <p>> Cây Nhiệt Đới</p></a>
          <a href=""> <p>> Cây Kiểng Lá</p></a>
       </div>

       <div class="theovitri">
           <h5>Theo vị trí đặt</h5>
          <a href=""> <p>> Cây Cảnh Dể Bàn</p></a>
          <a href=""> <p>> Cây Cảnh Văn Phòng</p></a>
          <a href=""> <p>> Cây Trong Bếp & Nhà Tắm</p></a>
          <a href=""> <p>> Cây Trước Cửa & Hành Lang</p></a>
          <a href=""> <p>> Cây Trồng ban Công</p></a>
       </div>

       <div class="theochucnang">
           <h5>Theo chức năng</h5>
          <a href=""> <p>> Cây Dễ Trồng</p></a>
          <a href=""> <p>> Cây Ít Cần Ánh Sáng</p></a>
          <a href=""> <p>> Cây Thủy Sinh</p></a>
          <a href=""> <p>> Cây Phong Thủy</p></a>
          <a href=""> <p>> Cây Lọc Không Khí</p> </a>
       </div>

       <div>
           <img src="assets/images/caytrongnha.jpg" alt="">
       </div>

      </div>
   </div>


   <div class="hiencaytrongnha">
      <div class="header-link">
      <a href="">Phụ kiện </a> 
     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
    </svg>
  </div> 

      <div class="header-menucon">

       <div class="theokieudang">
           <h5>Theo kiểu dáng</h5>
          <a href=""> <p>> Cây Cao & Lớn</p> </a>
          <a href=""> <p>> Cây Cảnh Mini</p> </a>
          <a href=""> <p>> Cây reo Trong Nhà</p></a>
          <a href=""> <p>> Cây Nhiệt Đới</p></a>
          <a href=""> <p>> Cây Kiểng Lá</p></a>
       </div>

       <div class="theovitri">
           <h5>Theo vị trí đặt</h5>
          <a href=""> <p>> Cây Cảnh Dể Bàn</p></a>
          <a href=""> <p>> Cây Cảnh Văn Phòng</p></a>
          <a href=""> <p>> Cây Trong Bếp & Nhà Tắm</p></a>
          <a href=""> <p>> Cây Trước Cửa & Hành Lang</p></a>
          <a href=""> <p>> Cây Trồng ban Công</p></a>
       </div>

       <div class="theochucnang">
           <h5>Theo chức năng</h5>
          <a href=""> <p>> Cây Dễ Trồng</p></a>
          <a href=""> <p>> Cây Ít Cần Ánh Sáng</p></a>
          <a href=""> <p>> Cây Thủy Sinh</p></a>
          <a href=""> <p>> Cây Phong Thủy</p></a>
          <a href=""> <p>> Cây Lọc Không Khí</p> </a>
       </div>

       <div>
           <img src="assets/images/caytrongnha.jpg" alt="">
       </div>

      </div>
   </div>


   <div class="hiencaytrongnha">
      <div class="header-link">
      <a href="">Hướng dẫn </a> 
     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
    </svg>
  </div> 

      <div class="header-menucon">

       <div class="theokieudang">
           <h5>Theo kiểu dáng</h5>
          <a href=""> <p>> Cây Cao & Lớn</p> </a>
          <a href=""> <p>> Cây Cảnh Mini</p> </a>
          <a href=""> <p>> Cây reo Trong Nhà</p></a>
          <a href=""> <p>> Cây Nhiệt Đới</p></a>
          <a href=""> <p>> Cây Kiểng Lá</p></a>
       </div>

       <div class="theovitri">
           <h5>Theo vị trí đặt</h5>
          <a href=""> <p>> Cây Cảnh Dể Bàn</p></a>
          <a href=""> <p>> Cây Cảnh Văn Phòng</p></a>
          <a href=""> <p>> Cây Trong Bếp & Nhà Tắm</p></a>
          <a href=""> <p>> Cây Trước Cửa & Hành Lang</p></a>
          <a href=""> <p>> Cây Trồng ban Công</p></a>
       </div>

       <div class="theochucnang">
           <h5>Theo chức năng</h5>
          <a href=""> <p>> Cây Dễ Trồng</p></a>
          <a href=""> <p>> Cây Ít Cần Ánh Sáng</p></a>
          <a href=""> <p>> Cây Thủy Sinh</p></a>
          <a href=""> <p>> Cây Phong Thủy</p></a>
          <a href=""> <p>> Cây Lọc Không Khí</p> </a>
       </div>

       <div>
           <img src="assets/images/caytrongnha.jpg" alt="">
       </div>

      </div>
   </div>
 </header> 


  <div class="detail-sp" *ngIf="product">
    <div class="detail-img">
    <h1>{{product.name}}</h1>
    <img src="{{product.img}}" alt="">
    </div>
    <div class="detail-tt">
    <p style="color: black;"><strong>Giá :</strong> {{product.price}} VNĐ </p>
    <p><strong>Mô tả :</strong> {{product.description}}</p>
    <p><strong>Còn lại :</strong> {{product.quantity}} sản phẩm</p>
    </div>

    <button class ="detail-mn">Mua Ngay</button>
    <button class ="detail-tvg">Thêm vào giỏ</button> 
    </div>

    <footer>
      <div class="footer-main">
          <div class="footer-logo">
              <img src="assets/images/logo.png" alt="">
              <p>VƯƠNG TREES SHOP mong mang đến không gian sống xanh, như là một cách để khơi nguồn cảm hứng, cải thiện chất lượng tinh thần tươi và đồng thời còn mang lại tính thẩm mỹ cho không gian nội thất.</p>
          </div>
    
          <div class="footer-vct">
              <h5>VỀ CHÚNG TÔI</h5>
              <a href="">Giới thiệu</a>
              <a href="">Liên hệ</a>
              <a href="">Chính sách bảo mật</a>
              <a href="">Chính sách bảo hành </a>
              <a href="">Phương thức thanh toán</a>
              <a href="">Phương thức vận chuyển</a>
          </div>
    
          <div class="footer-vct">
              <h5>LIÊN HỆ</h5>
              <p>Hotline 1: 0123456789</p>
              <p>Hotline 2: 0987654321</p>
              <p>Hotline 3: 0364185395</p>
              <p>Gmail: nguyentruongvuong11&#64;gmail.com</p>
              <p>Địa chỉ: Tân Thới Hiệp QUận 12</p>
          </div >
          
          <div class="footer-vct">
              <h5>PHƯƠNG THỨC  THANH TOÁN</h5>
              <p>Hotline 1: 0123456789</p>
              <p>Hotline 2: 0987654321</p>
              <p>Hotline 3: 0364185395</p>
              <p>Gmail: nguyentruongvuong11&#64;gmail.com</p>
              <p>Địa chỉ: Tân Thới Hiệp QUận 12</p>
          </div>
    
      </div>    
    
      </footer>